.container {
    border: 2px solid lime;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper {
    display: flex;
    border: 2px solid pink;
    margin-top: 100px;
}

.image-wrapper img {
    max-height: 100px;

}