footer {
    border: 2px solid purple;
    background-image: linear-gradient(to right, #C80000, #FCA016, #FFD600);
    display: flex;
    justify-content: center;
}

span {
    color: white;
    align-items: center;
}