.profile-edit-form {
    border: 5px solid;
    border-radius: 15px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
}

#true {
    color: black;
    box-shadow: none;
}

#false {
    box-shadow: none;
}