@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --red: C80000;
  --orange: FCA016;
  --yellow: FFD600;
  --black: 000000;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', 'Roboto', 'Oxygen',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
